.HomePage {
  display: flex;
  align-items: center;
  height: fit-content;
  max-width: 0 auto;
  max-height: 0 auto;
  margin: 0 auto;
  padding: 0 auto;
  background-color: rgb(243, 245, 246);
}

.HomePage h1 {
  font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  color: rgb(137, 137, 137);
}

.LayoutBarLeft {
  margin-right: auto;
}
.LayoutBarRight {
  margin-left: auto;
}
