* {
  box-sizing: border-box;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: auto;
  /* max-width: 300px; */
  margin-left: 0;
  margin-bottom: 40px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: auto;
  height: 250px;
}

/* The overlay effect - lays on top of the container and over the image */
.imgOverlay {
  position: absolute;
  display: flex;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(161, 161, 161, 0.61); /* Black see-through */
  width: auto;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 0 12px;
  text-align: center;
  height: 44px;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .imgOverlay {
  opacity: 1;
}

h3 {
  font-size: large;
}

.imageHeader {
  display: flex;
  margin-right: 10px;
  height: 40px;
  align-items: center;
  text-align: center;
  width: 100%;
}
.imageHeader h3 {
  margin-right: 10px;
}
.avatar {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Image Overlay RightContainer (engamement) */
.overlayRightCont {
  float: right;
  width: 100px;
  display: flex;

}

.overlayLeftCont {
  float: left;
  width: 100px;
}

/* @media screen and (max-width: 1150px) {
  .infoColumn {
    display: none;
  }
  .rowHomePage {
    max-width: 100%;
  }
  .feedNews {
    max-width: 100%;
  }
} */